tmp
.DS_Store
coverage
example
vendor
docker-golang
# environment
env/*
!env/base
!env/serverless-aws
env/*/*
!env/*/template
!env/*/example
docker/build/cloud/gcp/app_engine
!docker/build/cloud/gcp/app_engine/.env.template
!docker/build/cloud/gcp/app_engine/.key.template
!docker/build/cloud/gcp/app_engine/Dockerfile
