tmp
.DS_Store
coverage
example
vendor
docker-golang
# environment
env/*
!env/template
!env/example
!env/shell
!env/Dockerfile
docker/build/cloud/gcp/app_engine
!docker/build/cloud/gcp/app_engine/.env.template
!docker/build/cloud/gcp/app_engine/.key.template
!docker/build/cloud/gcp/app_engine/Dockerfile
